<!doctype html>
<html lang="fr">
<html xmlns:th="http://www.thymeleaf.org">
<head>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">


   <link rel="stylesheet" type="text/css" href="style_bt.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Playfair+Display&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

   <title>403</title>
</head>
    
   <body>

   <header th:insert="_header::header"></header>
       <br><br>
      <div class="page-title">Accès refusé!</div>
      <h3 style="color:red;">Désolé,vous pouvez pas acceder à cette page!</h3>

      <div th:insert="_footer::footer"></div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <script src="https://kit.fontawesome.com/3065d88318.js" crossorigin="anonymous"></script>
       
   </body>
</html>