
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<div class="header-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
 
   
</div>

<div th:fragment="header">
   <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
         <div class="container-fluid">
            <a class="navbar-brand" href="#">Baby&Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                     <a class="nav-link active" aria-current="page"th:href="@{/}">Accueil</a>
                  </li>
                
                   <li>	
					   <th:block sec:authorize="hasRole('ROLE_MANAGER')">
					      <a th:href="@{/product/new}">
					      Ajout produits
     					 </a>
     				 </th:block>
     				</li>
     				 <li>
                     	  <th:block sec:authorize="hasRole('ROLE_MANAGER')">
                     	    <a th:href="@{/products}">
						   Produits
						   </a>
						</th:block>	   
                    
                     </li>
                   <li>
                  
				      <th:block sec:authorize="hasRole('ROLE_MANAGER')">
				      <a th:href="@{/category/new}">
				      Ajout categories
				      </a>
      
      				</th:block></li>
      				  <li>  
                  	<th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
				 	   <a th:href="@{/category}">
				      
				 			Categories
				  	 </a>
   			 	 </th:block>
   			  </li>
                    
              
                  <li class="nav-item">
                     <a class="nav-link" th:href="@{/shoppingCart}">Mon panier</a>
                  </li>
               </ul>
            
                 		<th:block sec:authorize="isAuthenticated()">
					         Bonjour
					         <a th:href="@{/admin/accountInfo}" th:utext="${#request.userPrincipal.name}">..</a>
					         &nbsp;|&nbsp;
		         			<a class="btn btn-outline-success mb-2" type="submit" th:href="@{/admin/logout}">Deconnexion</a>
      					</th:block>
      					 <th:block sec:authorize="!isAuthenticated()">
         				<a class="btn btn-outline-success mb-2" type="submit" th:href="@{/admin/login}">Connexion</a>
     		 		</th:block>
                

            </div>
         </div>
      </nav>
   </header>
</div>
