<!-- <div class="menu-container"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
   <a th:href="@{/}">Acceuil</a>
   |
   <a th:href="@{/products}">
   Produits
   </a>
   |
     <th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
    <a th:href="@{/category}">
      
 	Categories
   </a>
     </th:block>
   |
   <a th:href="@{/shoppingCart}">
   Mon panier  <span class="nav-link" th:text="${cartCount}">0</span>
   </a>
  	
   <th:block sec:authorize="hasRole('ROLE_MANAGER')">
      <a th:href="@{/product/new}">
      Ajout produits
      </a>
      |
   </th:block>
      <th:block sec:authorize="hasRole('ROLE_MANAGER')">
      <a th:href="@{/category/new}">
      Ajout categories
      </a>
      
      </th:block>
      
      
      

</div> -->