<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Baby&Shop</title>
     <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
   </head>
   <body>

      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
       
      <div class="page-title">Bienvenue dans l'univers des bouts de choux</div>
      
      
      <!-- Liste des catégories -->
      
      <div>
      <table>
      		<th:block  th:each="cat:${listCategory}">
      		
          	<tr>
          		<!--  <td><img th:src="@{|/categoryImage?idCategory=${Category.idCategory}|}"/></td>
          			<td<img th:src="${cat.photo}"/></td>-->
          			<!-- <td><img src="../static/img/imgTest.jpg" width="1000" th:src="@{img/imgTest.jpg}"/></td> -->
          		<!-- 	<td><img src="@{https://zupimages.net/viewer.php?id=21/11/aqpr.jpg}" width="500" th:src="@{https://zupimages.net/viewer.php?id=21/11/aqpr.jpg}"/></td> -->
          		<td> <img th:src="@{${cat.photoImagePath}}" /></td>
          		<td th:text="${cat.nameCategory}"></td>
      		</tr>
      		</th:block>
      		
      
      </table>
  
      
      </div>
      
      
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>