<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
   <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
   <script type="text/javascript" href="/webjars/bootstrap/js/bootstrap.min.js"></script>
   <head>
      <meta charset="UTF-8">
      <title>Liste des produits</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
       
      <div class="page-title">Liste des produits</div>
      
      <div class="container mt-5">
    <div class="row">
        <div class="col-sm-5 d-flex justify-content-center">
            <img class="mt-5" height="300px" width="300px" src="" th:src="@{${product.imageImagePath}}"
                 alt="">
        </div>
        <div class="col-sm-7 mt-5">
            <h2 th:text="${product.name}"></h2>
            <h2><span th:text="${product.price}"></span></h2>
            <p th:text="${product.category.nameCategory}"></p>
            
           
          
            <a href="" th:href="@{/buyProduct/{code}(code = ${product.code})}" class="btn btn-primary">Ajouter au panier</a>
        </div>
    </div>
</div>
      <th:block th:include="/_footer"></th:block>
   <script type="text/javascript">
   		 function clearSearch() {
        window.location = "[[@{products}]]";
    	}
    </script>

   </body>
</html>