<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
   <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
   <head>
      <meta charset="UTF-8">
      <title>Liste des produits</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
       
      <div class="page-title">Liste des produits</div>
       
      <div class="product-preview-container" th:each="prodInfo : ${listProduct.content}">
         <ul>
           <!--  <li><img class="product-image"
               th:src="@{|/productImage?code=${prodInfo.code}|}" /></li> -->
            <li>Code: <span th:text="${prodInfo.code}"></span></li>
            <li>Nom: <span th:text="${prodInfo.name}"></span></li>
            <li>Prix: <span th:text="${prodInfo.price}"></span></li>
            <li>Categorie: <span th:text="${prodInfo.category.nameCategory}"></span></li>
            <li><img th:src="@{${prodInfo.imageImagePath}}" width="150" height="150" /></li>
           <!--  <li>
               <a th:href="@{|/buyProduct?code=${prodInfo.code}|}">Acheter</a>
            </li> -->
            <!-- For Manager edit Product -->
          <!--   <th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
               <li>
                 <a style="color:red;"
                    th:href="@{|/admin/product?code=${prodInfo.code}|}">Modifier</a>
               </li>
            </th:block> -->
         </ul>
      </div>
       
      <br/>
    
<!--       <div class="page-navigator" th:if="${paginationProducts.totalPages > 1}"> -->
<!--          <th:block th:each="page : ${paginationProducts.navigationPages}"> -->
         
<!--             <a th:href="@{|/productList?page=${page}|}" th:if="${page != -1}" -->
<!--                class="nav-item" th:utext="${page}"></a> -->
               
<!--             <span class="nav-item" th:if="${page == -1}"> ... </span> -->
             
<!--          </th:block> -->
<!--       </div> -->

  <!-- Pagination -->
  <ul class="pagination justify-content-center">
  	<ul class="nav nav-pills">
  		<li class="page-item"><a class="page-link"
  		 style="color:#E70014;" href="#" tabindex="-1">Précédent</a></li>
  		 <li th:each="page, status:${page}">
  		 <a style="color: #E70014;"
  		 th:class="$status.index==cuurentPage? 'btn btn-secondary': 'btn'}"
  		 </a>
  		 	
  	</ul>
  
  </ul>
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>