<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>


   <head>
      <meta charset="UTF-8">
      <title>Produits</title>
     
   </head>
   <body>
    
      <th:block th:include="/_header"></th:block>
      
      <div class="container text-center">
      	  <div th:if="${product.code == null}"><h3>Ajouter un nouveau Produit</h3></div>
      	  <div th:unless="${product.code == null}"><h3>Modifier le Produit</h3></div>
      	  
     		<form th:action="@{/products/save}" th:object="${product}"
     		method="post" enctype="multipart/form-data" style="max-width: 400px; margin: 0 auto;">
     		<div>
     			<label>Code*:</label>
     			<input type="text" th:field="*{code}"/>
	     			<p>
	     				<label>Name*:</label>
	     				<input type="text" class="form-control" th:field="*{name}" required 
	     				maxlength="10"/>
	     			</p>
	     			
	     			<p>
	     				<label >Prix*:</label>
	     				<input type="number" class="form-control" th:field="*{price}" required />
	     			</p>
	     			
	     			
	     			<p>
	     				<label>Image*:</label>
	     				<input type="file" class="form-control" name="picture" 
	     				id="picture" accept="image/png, image/jpeg, image/jpg" required/>
	     				</p>
	     				<p>
	     					<img id="thumbnail" alt="Image"/>
	     				
	     				</p>
	     			
	     			<p>
	     				 <label >Sélectionner une catégorie :</label>
	     			 	
	     					<select  th:field="*{category}"  class="form-control" required>
							
								<th:block th:each="cat : ${listCategory}" >
									<option th:text="${cat.nameCategory}"
									 th:value="${cat.idcategory}"/>
								</th:block>
							</select>
	     			</p>
	     			
	     			<p class="text-center">
	     				<input type="submit" value="Enregistrer" class="btn btn-primary m-3" />
	     				<input type="button" value="Annuler" class="btn btn-secondary "  />
	     			</p>
	     			
     			
     		</div>
     		
     		</form>
      
      
      
      </div>
       
      <th:block th:include="/_footer"></th:block>
      
       <script type="text/javascript">
      	$(document).ready(function(){
      	
      		$('#picture').change(function(){
      			showImageThumbnail(this);
      		});
      	
      	});
      	
      	function shwoImageThumbnail(fileInput) {
      		file = fileInput.files[0];
      		reader = new FileReader();
 
      		reader.onload = function(e){
      			$('#thumbnail').attr('src', e.target.result);
      		};
      		
      		reader.readAsDataURL(file);
      	}
      
      
      </script>
  <!--     
      <script >
      function confirmer(url){
		var rep=confir("Etes vous sure de vouloir supprimer?");
		if(rep==true){
			document.location=url;
		}
	}
      </script> -->
</body>
</html>
