<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
   <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
   <script type="text/javascript" href="/webjars/bootstrap/js/bootstrap.min.js"></script>
   <head>
      <meta charset="UTF-8">
      <title>Liste des produits</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
      
      
      <div class="page-title">Liste des produits</div>
     
      <div class="product-preview-container" th:each="prodInfo : ${listProduct.content}">
         <ul>
           
            <li>Code: <span th:text="${prodInfo.code}"></span></li>
            <li>Nom: <span th:text="${prodInfo.name}"></span></li>
            <li>Prix: <span th:text="${prodInfo.price} +'€'"></span></li>
            <li>Categorie: <span th:text="${prodInfo.category.nameCategory}"></span></li>
            <li><img th:src="@{${prodInfo.imageImagePath}}" width="150" height="150" /></li>
            <li>	<a href="#" th:href="@{/shop/product/{code}(code=${prodInfo.code})}"  class="btn btn-primary">Voir le produit</a></li>
         
            <!-- For Manager edit Product -->
            <th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
               <li>
                 <a style="color:red;"
                    th:href="@{'/products/edit/'+${prodInfo.code}}">Modifier</a>
               </li>
               
                <li>
                 <a style="color:red;" 
                 	onclick="javascript:return confirm('Êtes-vous sûre de vouloir supprimer?')"   
                    th:href="@{'/products/delete/'+${prodInfo.code}}">Supprimer</a>
               </li>
            </th:block>
         </ul>
      </div>
       
      <br/>
 
   
  <!-- Pagination -->
  <ul class="pagination justify-content-center">
  	<ul class="nav nav-pills">
  		<li class="page-item"><a class="page-link"
  		 href="#" tabindex="-1">Précédent</a></li>
  		 <li th:each="page, status:${page}">
  		 <a 
  		 th:class="${status.index==currentPage?'btn btn-secondary':'btn'}"
  		 th:href="@{products(page=${status.index}, size=${size}, name=${name})}"
  		 th:text="${status.index+1}"></a>
  		</li>
  		<li class="page-item"><a class="page-link" href="#">Suivant</a>
  		
  		</li>
  	</ul>
  
  </ul>
  
 
      <th:block th:include="/_footer"></th:block>
   <script type="text/javascript">
   		 function clearSearch() {
        window.location = "[[@{products}]]";
    	}
    </script>

   </body>
</html>