<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Confirmation d'achat</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
    
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
       
      <div class="page-title">Confirmation</div>
      <div class="container">
         <h4>Votre commande a bien été prise en compte!</h4>
          <h4> Merci et à bientôt sur notre site!</h4>
        
      </div>
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>