<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Vos informations</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
       
      <div class="page-title">Entrer vos informations</div>
       
       <div class="container">

    <!--Section: Block Content-->
    <section class="mt-5 mb-4">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-8 mb-4">

                <!-- Card -->
                <div class="card wish-list pb-1">
                    <div class="card-body">

                        <h5 class="mb-2">Vos informations</h5>

                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-lg-6">

                                <!-- First name -->
                                <div class="md-form md-outline mb-0 mb-lg-4">
                                    <label for="firstName">Prenom</label>
                                    <input type="text" id="firstName" required class="form-control mb-0 mb-lg-2">
                                </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-lg-6">

                                <!-- Last name -->
                                <div class="md-form md-outline">
                                    <label for="lastName">Nom</label>
                                    <input type="text" id="lastName" required class="form-control">
                                </div>

                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->



                        <!-- Country -->
                        <div class="d-flex flex-wrap">
                            <div class="select-outline position-relative w-100">
                                <label>Pays - <strong>France</strong></label>


                            </div>
                        </div>

                        <!-- Address Part 1 -->
                        <div class="md-form md-outline mt-2">
                            <label for="form14">Addresse </label>
                            <input type="text" required id="form14" placeholder="House number and street name" class="form-control">
                        </div>

               
                 

                        <!-- Phone -->
                        <div class="md-form md-outline mt-2">
                            <label for="form18">Telephone</label>
                            <input type="number" minlength="10" maxlength="10" required id="form18" class="form-control">
                        </div>

                        <!-- Email address -->
                        <div class="md-form md-outline mt-2">
                            <label for="form19">Email </label>
                            <input type="email" required id="form19" class="form-control">
                        </div>
                        
                          <div class="md-form md-outline mt-2">
                            <label for="form14">Numero de carte bancaire </label>
                            <input type="text" required id="form14" placeholder="numero de carte bancaire" class="form-control">
                        </div>
                        
						 <div class="md-form md-outline mt-2">
                            <label for="form14">Cryptogramme </label>
                            <input type="text" required id="form14" placeholder="CVC" class="form-control">
                        </div>
                      


                    </div>
                </div>
                <!-- Card -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4">

                <!-- Card -->
                <div class="card mb-4">
                    <div class="card-body">

                        <h5 class="mb-3">Le montant total</h5>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                Le montant à payé
                                <span>€<span th:text="${total}"></span></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Livraison
                                <span>Gratuit</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Le montant avec</strong>
                                    <strong>
                                        <p class="mb-0">(TVA inclut)</p>
                                    </strong>
                                </div>
                                <span><strong>€<span th:text="${total}"></span></strong></span>
                            </li>
                        </ul>

                        <form action="" method="post" th:action="@{/payNow}" >
                            <button type="submit"  class="btn btn-primary btn-block waves-effect waves-light">Payé maintenant</button>
                        </form>

                    </div>
                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-4">
                    <div class="card-body">

                        <a class="dark-grey-text d-flex justify-content-between" data-toggle="collapse" href="#collapseExample"
                           aria-expanded="false" aria-controls="collapseExample">
                            Add a discount code (optional)
                            <span><i class="fas fa-chevron-down pt-1"></i></span>
                        </a>

                        <div class="collapse" id="collapseExample">
                            <div class="mt-3">
                                <div class="md-form md-outline mb-0">
                                    <input type="text" id="discount-code" class="form-control font-weight-light"
                                           placeholder="Enter discount code">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card -->
       
       
     <!--  <form method="POST" th:object = "${customerForm}" th:action="@{/shoppingCartCustomer}">
          
         <table>
            <tr>
               <td>Nom *</td>
               <td><input th:field="*{name}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
               </td>
            </tr>
            <tr>
               <td>Email *</td>
               <td><input th:field="*{email}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
               </td>
            </tr>
            <tr>
               <td>Téléphone *</td>
               <td><input th:field="*{phone}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">..</span>
               </td>
            </tr>
            <tr>
               <td>Addresse *</td>
               <td><input th:field="*{address}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</span>
               </td>
            </tr>
            <tr>
               <td>&nbsp;</td>
               <td><input type="submit" value="Valider" /> <input type="reset"
                  value="Rénitialiser" /></td>
            </tr>
         </table>
          
      </form> -->
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>